---
---
@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;600&display=swap');
body {
    font-family: 'Shippori Mincho', 'Hiragino Minchoi ProN', 'YuMincho', 'Yu Mincho', serif;
    color: #000000;
}

p {
    font-family: 'Shippori Mincho', 'Hiragino Minchoi ProN', 'YuMincho', 'Yu Mincho', serif;
    color: #000000;
}

a {
text-decoration: none;
border-bottom: dotted; 
border-color: #0F0F0F;
border-width: 1px;
color: #000000
}

a:link { color: #000000; }
a:visited { color: #000000; }
a:hover { color: #ff0000; }
a:active { color: #ff8000; }


h1{
  font-size:110%;
}

.post-link {
    display: block;
    font-size:16px
}
