---
---
@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;600&display=swap');
body {
    font-family: 'Shippori Mincho', 'Hiragino Minchoi ProN', 'YuMincho', 'Yu Mincho', serif;
    color: #000000;
}

p {
    font-family: 'Shippori Mincho', 'Hiragino Minchoi ProN', 'YuMincho', 'Yu Mincho', serif;
    color: #000000;
}

a {
text-decoration: none;
border-bottom: dotted; 
border-color: #0F0F0F;
border-width: 1px;
color: #000000
}

a:link { color: #000000; }
a:visited { color: #000000; }
a:hover { color: #ff0000; }
a:active { color: #ff8000; }


.post-link {
    display: block;
    font-size:16px
}

.post-title {
    font-size: 26px;
    letter-spacing: -1px;
    line-height:1
}


.post-content h2 {
    font-size:24px
}

@media screen and (max-width: 800px) {
    .post-content h2 {
        font-size:24px
    }
}

.post-content h3 {
    font-size:22px
}

@media screen and (max-width: 800px) {
    .post-content h3 {
        font-size:20px
    }
}

.post-content h4 {
    font-size:18px
}

@media screen and (max-width: 800px) {
    .post-content h4 {
        font-size:16px
    }
}

blockquote {
    color:#828282;
    border-left:4px solid #e8e8e8;
    padding-left:3em;
    font-size:1em;
    font-style:normal}

blockquote>:last-child{margin-bottom:0}pre,code{font-size:15px;border:1px solid #e8e8e8;border-radius:3px;background-color:#eef}code{padding:1px 5px}pre{padding:8px 12px;overflow-x:auto}pre>code{border:0;padding-right:0;padding-left:0}

