---
---
@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght600&display=swap');
body {
    font-family: 'Shippori Mincho', serif;
    color: #000000;
}

a {
text-decoration: none;
border-bottom: dotted; 
border-color: #0F0F0F;
border-width: 1px;
color: #000000
}


